.questionNo {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: grey;
}

.quesNoElContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.active {
  transform: scale(1.1);
}

.isAnswered {
  background-color: greenyellow;
}

.isUnanswered {
  background-color: red;
}

.fillInTheBlanks {
  text-align: center;
}
.fillInTheBlanks > legend {
  margin-bottom: 1rem;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

.prevButton {
  margin: 1rem;
  padding: 5px;
  width: 4rem;
}
.nextButton {
  margin: 1rem;
  width: 4rem;
}

.singleChoiceQuestions {
  padding-left: 1rem;
}

.dragQues {
  text-align: center;
}
